<div>
  <div class="form-group" v-for="(field, key) in formFields" :key="key">
    <label :for="key">{{key}}</label>
    <input class="form-control"
           :id="key"
           :name="key"
           type="text"
           v-model="formFields[key]"
           />
  </div>
  <button class="btn btn-primary" v-on:click="addProductToCart">Buy Now</button>
  <!-- <div class="util-margin-top-12">
    <b>Result from API</b>
    <ul>
      <li v-for="(item, key) in cartInfo" v-bind:key="key">
        <b>{{key}}:</b> {{item}}
      </li>
    </ul>
  </div> -->
</div>