<div class="product-form-container">
  <h3>Please fill in the product details below</h3>
  <div class="form-group  form-group--product" v-for="field in formFields" :key="field">
    <label class="form__label  form__label--product" for="field">{{field}}</label>
    <input class="form__field  form__field--product"
           :id="field"
           name="field"
           type="text"
           />
  </div>
  <button class="button  button--success  util-full-width  util-margin-y-12" v-on:click="">Submit</button>
</div>